// #container
// {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong
// {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p
// {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a
// {
//   text-decoration: none;
// }

ion-content
{
  --ion-background-color:rgb(50, 45, 45);
  --color: white;
}

div
{
  font-family: sans-serif;
  text-align: center;
}

input
{
  color: black;
}

li
{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 5%;
}

p
{
    display: inline;
    margin-right: 10px;
}

#vid
{
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button
{
    margin-left: 5px;
    height: 20px;
    width: 75px;
    font-size: 10px;
    --ion-color-primary: rgb(90, 90, 90);
}

ion-checkbox
{
  margin-right: 5px;
}
